.navegacao {
  display: inline-block;
  position: relative;
  text-align: center;
}

.imagem_logo {
  width: 150px;
}

.header,
.navegacao_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navegacao_header a {
  text-decoration: none;
}

.header {
  height: 3.5em;
  justify-content: space-between;
  padding: 0 10%;
}

.secao_header {
  display: inline-block;
  padding: 0px;
  margin: 100px 150px;
}

li a {
  display: flex;
  position: relative;
  width: 100%;
  padding: 10px 60px;
  border: none;
  color: black;
  border-radius: 30px;
  text-decoration: none;
  box-shadow: 20px 20px 22px 11px rgba(0, 0, 0, 0.2);
}

.titulo {
  position: relative;
  width: 100%;
  max-width: 380px;
  font-size: 30px;
  height: 90px;
}

.paragrafo {
  position: relative;
  max-width: 400px;
  height: 90px;
}

#botao {
  padding: 15px 40px;
  border-radius: 25px;
  border: none;
  background-color: rgb(250, 107, 224);
  color: white;
}

.imagens {
  position: absolute;
  padding: 0px 0px 0px 650px;
  display: block;
  width: 100%;
  max-width: 100px;
}

.img_mockups {
  position: relative;
  width: 100%;
  max-width: 350px;
}

.section_1 {
  position: relative;
  display: block;
  border: solid white;
  width: 50%;
  border-radius: 10px;
  padding: 50px 90px;
  top: 10px;
  margin: 80px auto;
  box-shadow: 20px 20px 22px 11px rgba(0, 0, 0, 0.2);
  height: 250px;
}

.titulo_torgether {
  position: relative;
  width: 100%;
  top: 40px;
  font-size: 26px;
}

.paragrafo_torgether {
  position: relative;
  width: 50%;
  top: 80px;
}

.img_1 {
  display: flex;
  position: absolute;
  width: 30%;
  left: 550px;
}

.section_2 {
  position: relative;
  display: block;
  border: solid white;
  width: 50%;
  border-radius: 10px;
  padding: 50px 90px;
  top: 10px;
  margin: 80px auto;
  box-shadow: 20px 20px 22px 11px rgba(0, 0, 0, 0.2);
  height: 250px;
}

.titulo_conversation {
  position: relative;
  width: 30%;
  bottom: 150px;
  font-size: 26px;
  padding-left: 350px;
}

.paragrafo_conversation {
  position: relative;
  width: 50%;
  padding-left: 350px;
  bottom: 110px;
}

.img_2 {
  display: inline-block;
  position: relative;
  width: 30%;
}

.section_3 {
  position: relative;
  display: block;
  border: solid white;
  width: 50%;
  border-radius: 10px;
  padding: 50px 90px;
  top: 10px;
  margin: 80px auto;
  box-shadow: 20px 20px 22px 11px rgba(0, 0, 0, 0.2);
  height: 250px;
}

.titulo_users {
  position: relative;
  width: 100%;
  top: 40px;
  font-size: 26px;
}

.paragrafo_users {
  position: relative;
  width: 50%;
  top: 80px;
}

.img_3 {
  display: flex;
  position: absolute;
  width: 30%;
  left: 550px;
}

.texto_botao {
  position: relative;
  width: 20%;
  top: 200px;
}

#botao_started {
  position: relative;
  top: 250px;
  padding: 15px 40px;
  border-radius: 25px;
  border: none;
  background-color: rgb(250, 107, 224);
  color: white;
}

.section_4 {
  position: relative;
  display: block;
  border: solid white;
  width: 30%;
  border-radius: 10px;
  padding: 90px 90px;
  margin: 0px auto;
  box-shadow: 20px 20px 22px 11px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.titulo_button {
  position: relative;
  bottom: 15px;
  font-size: 30px;
}

.button {
  padding: 15px 40px;
  border-radius: 25px;
  border: none;
  background-color: rgb(250, 107, 224);
  color: white;
}

.footer {
  position: relative;
  background-color: rgb(10, 45, 47) ;
  display: flex;
  padding-top: 10px;
  padding-bottom: 30px;
  
}

.footer_info {
  text-align: center;
  width: 200px;
}

.footer_info li {
  font-size: large;
  display: block;
  padding-top: 20px;
  color: white;
}

.footer_contatos {
  width: 360px;
  padding: 20px 160px;
  font-size: 16px;
}

.footer_contatos li {
  padding-bottom: 20px;
}

.footer_icones {
  margin: 60px auto;
}

.footer_icones li img{
  width: 30px;
  padding-left: 10px;
}


