header {
    margin: auto ;
}

.navegacao {
    display: inline-block;
    position: relative;
    text-align: center;
}

.imagem_logo {
    width: 150px;
}

.header,
.navegacao_header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header {
    height: 3.5em;
    justify-content: space-between;
}


#texto-topo {
    margin: 0;
    position: relative;
    top: 40px;
    width: auto;
    text-align: center;
}

.caix {
    background-color: red;
    display: block;
    padding: 0px ;
}

.try {
    display: inline-block;
    position: relative;
    flex-wrap: wrap;
    margin: auto;
}

.img-logo {
    width: 100px;
    position: relative;
    
}

nav {
    position: relative;
   
}

nav li {
    display: inline;
    margin: auto;
}

li a {
    display: flex;
    position: relative;
    width: 100%;
    padding: 10px 60px;
    border: none;
    color: black;
    border-radius: 30px;
    text-decoration: none;
    box-shadow: 20px 20px 22px 11px rgba(0, 0, 0, 0.2);
}

.titulo {
    position: relative;
    width: 100%;
    font-size: 30px;
}

.paragrafo {
    position: relative;
    
    width: 100%;
    padding: 0;
}

#botao {
    
    padding: 15px 40px;
    border-radius: 25px;
    border: none;
    background-color: rgb(250, 107, 224);
    color: white;
}

.imagens {
    position: absolute;
    padding: 0px 0px 0px 650px;
    display: block;
    width: 10%;
}

.img_mockups {
    position: relative;
    display: flex;
    width: 40%;
    margin: 10px auto;    
}

.caixa_1 {
    position: relative;
    display: block;
    border: solid white;
    width: 50%;
    border-radius: 10px;
    padding: 50px 90px;
    top: 10px;
    margin: 10px auto;
    box-shadow: 20px 20px 22px 11px rgba(0, 0, 0, 0.2);
}

.paragrafo_torgether {
    position: relative;
    width: 100%;
}

.torgether {
    position: relative;
    font-size: 30px;
}

#img_torgether {
    display: block;
    position: relative;
    width: 50%;   
}

.caixa_2 {
    position: relative;
    display: flex;
    border: solid white;
    border-radius: 10px;
    width: 100%;
    box-shadow: 20px 20px 22px 11px rgba(0, 0, 0, 0.2);
}

.paragrafo_flowing {
    position: relative;
    top: 230px;
    
    width: 60%;
}

.flowing {
    position: relative;
    font-size: 30px;
    width: 100%;
}

#img_flowing {
    display: flex;
    position: relative;
    width: 50%;
    left: 0px;
}

.caixa_3 {
    position: relative;
    display: flex;
    border: solid white;
    border-radius: 10px;
    
    top: 740px;
    box-shadow: 20px 20px 22px 11px rgba(0, 0, 0, 0.2);
}

.paragrafo_users {
    position: relative;
    top: 230px;
    width: 36%;
}

.users {
    position: relative;
    top: 200px;
    
    font-size: 30px;
    width: 100%;
}

#img_users {
    display: flex;
    position: relative;
    width: 100%;
    margin: auto;
}

.texto_botao {
    position: relative;
    width: 20%;
    top: 200px;
}

#botao_started {
    position: relative;
    top: 250px;
    padding: 15px 40px;
    border-radius: 25px;
    border: none;
    background-color: rgb(250, 107, 224);
    color: white;
}

.caixa_4 {
    position: relative;
    display: flex;
    border: solid white;
    border-radius: 10px;
    
    
    top: 940px;
    box-shadow: 20px 20px 22px 11px rgba(0, 0, 0, 0.2);
}

.titulo_button {
    position: relative;
    left: 60px;
    font-size: 30px
}

.button_started {
    position: relative;
    top: 40px;
    left: 180px;
    width: 36%;
}